<div class="component">
	<h2>Shared Component</h2>
	<h3>An example of a component that can be shared between multiple other
	components (website pages).</h3>
	<ul>
		<li>A component is a discrete resource with its own URL.</li>
		<li>You can visit this component at
			<a href="/components/static_content">/components/static content</a>.
		</li>
		<li>The request is handled by a controller.</li>
		<li>The controller can pass data to the component&rsquo;s view.
			<ul>
				<li>The following text came from the controller:
					<em>{example}</em></li>
			</ul>
		</li>
		<li>Other components can call this component through their
		controllers.</li>
	</ul>
</div>
